<!DOCTYPE html>
<html>
  <head>
    <title>Mongoose Flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  </head>
  <body>
   <nav>
    <a href="/flights">FlightsManifesto</a>
    <a href="/airports/new">add airport</a>
   </nav>
  </body>
</html>
